<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Añadir una persona nueva</h3>
  <form action="/person/add" method="POST">
    <div>
      <label for="nombre"> Escribe el nombre</label>
      <input
        type="text"
        name="nombre"
        placeholder="nombre"
        id="nombre"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="apellido"> Escribe el apellido</label>
      <input
        type="text"
        name="apellido"
        placeholder="apellido"
        id="apellido"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="docIdentidad"> Escribe el doc Indentidad</label>
      <input
        type="text"
        name="docIdentidad"
        placeholder="identidad"
        id="docIdentidad"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="email"> Escribe el email</label>
      <input
        type="text"
        name="email"
        placeholder="email"
        id="email"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="celular"> Escribe el celular</label>
      <input
        type="text"
        name="celular"
        placeholder="celular"
        id="celular"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    
    <BUtton class="btn btn-light btn-sm mt-2">Añadir</BUtton>
  </form>
</div>