
<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <a href="/" class="navbar-brand">CRUD ACTIVIDADES </a>
    
  </div>

  <br>
  <div class="container">
    <a href="/person" class="navbar-brand">CRUD PERSONAS</a>
  </div>
  
</nav>